/* Customizations */

body {
    font-size: 0.5em;
}

a {
    text-decoration: none;
    color: #444;
}

table {
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    margin: 2em 0;
}

th, td  {
    padding-right: 1em;
    border-bottom: 1px solid #eee;
}

.markdown-body blockquote {
    color: #333;
    background-color: #eee;
    border: none;
    padding: 1em;
    margin: 1em 10%;
}

.markdown-body blockquote > p {
    margin: 0;
    padding: 0;
}

.markdown-body :not(pre) > code {
    color: white;
    background-color: #444;
    border: none;
    border-radius: 0.2em;
    padding: 0.2em 0.2em;
    margin: 0 0.1em;
}

.markdown-body pre {
    border: none;
    background-color: #eee;
    padding: 1em;
}

.markdown-body img {
    object-fit: contain;
    margin: 2em 10%;
    width: 80%;
}
