.DS_Store
*.pyc
.vagrant
build/
host/
downloads/
tools/
.clangd/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
src/CMakeFiles/
src/CTestTestfile.cmake
src/Makefile
src/apps/CMakeFiles/
src/apps/CTestTestfile.cmake
src/apps/Makefile
src/apps/bootloader/CMakeFiles/
src/apps/bootloader/CTestTestfile.cmake
src/apps/bootloader/Makefile
src/apps/bootloader/cmake_install.cmake
src/apps/cmake_install.cmake
src/apps/hwconfig/CMakeFiles/
src/apps/hwconfig/CTestTestfile.cmake
src/apps/hwconfig/Makefile
src/apps/hwconfig/cmake_install.cmake
src/apps/sequencer/CMakeFiles/
src/apps/sequencer/CTestTestfile.cmake
src/apps/sequencer/Makefile
src/apps/sequencer/cmake_install.cmake
src/apps/tester/CMakeFiles/
src/apps/tester/CTestTestfile.cmake
src/apps/tester/Makefile
src/apps/tester/cmake_install.cmake
src/cmake_install.cmake
src/platform/stm32/CMakeFiles/
src/platform/stm32/CTestTestfile.cmake
src/platform/stm32/Makefile
src/platform/stm32/cmake_install.cmake
src/tests/CMakeFiles/
src/tests/CTestTestfile.cmake
src/tests/Makefile
src/tests/cmake_install.cmake
src/tests/integration/CMakeFiles/
src/tests/integration/CTestTestfile.cmake
src/tests/integration/Makefile
src/tests/integration/cmake_install.cmake
src/tests/unit/CMakeFiles/
src/tests/unit/CTestTestfile.cmake
src/tests/unit/Makefile
src/tests/unit/cmake_install.cmake
src/tests/unit/core/CMakeFiles/
src/tests/unit/core/CTestTestfile.cmake
src/tests/unit/core/Makefile
src/tests/unit/core/cmake_install.cmake
src/tests/unit/core/io/CMakeFiles/
src/tests/unit/core/io/CTestTestfile.cmake
src/tests/unit/core/io/Makefile
src/tests/unit/core/io/cmake_install.cmake
src/tests/unit/core/utils/CMakeFiles/
src/tests/unit/core/utils/CTestTestfile.cmake
src/tests/unit/core/utils/Makefile
src/tests/unit/core/utils/cmake_install.cmake
src/tests/unit/sequencer/CMakeFiles/
src/tests/unit/sequencer/CTestTestfile.cmake
src/tests/unit/sequencer/Makefile
src/tests/unit/sequencer/cmake_install.cmake
