@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";

$page-width: 1000px;

body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font:14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#f0e7d5;
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
  background: linear_gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
  color:#e8e8e8;
  margin:0 0 10px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;

}

h1 {
  font-size:28px;
}

h2 {
  font-size: 24px;
}

h4, h5, h6 {
  color:#e8e8e8;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #b6b6b6;
}

a {
  color:#ffcc00;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: #ffeb9b;
  }
}

a small {
  font-size:11px;
  color:#666;
  margin-top:-0.6em;
  display:block;
}

ul {
  list-style-image:url('../images/bullet.png');
}

strong {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.wrapper {
  max-width: $page-width;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left:3px solid #ffcc00;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#efefef;
  font-size:13px;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
  white-space: nowrap;
}

pre {
  padding:8px 15px;
  background: #191919;
  border-radius: 2px;
  border:1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  overflow: auto;
  overflow-y: hidden;

  code {
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
    white-space: pre;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color:#F0E7D5;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}


#header {
  width: 100%;
  background: url(../images/nav-bg.gif) #353535;
  border-bottom: 1px solid #434343;
  box-shadow: 0px 1px 10px rgba(0,0,0,.5);

  nav {
    max-width: $page-width;
    margin: 0 auto;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      list-style: none;
      display: inline;
      color: white;
      text-shadow: 0px 1px 0px rgba(0,0,0,.2);
      font-size: 14px;

      &.title {
        font-weight: bold;
        font-size: 16px;
        padding-right: 1rem;
        line-height: 50px;

        a {
          color: white;

          &:hover {
            color: white;
          }
  
          &.active {
            color: white;
          }
        }
      }

      &.link > a {
        padding: 5px 10px;
        margin: 10px;
        border-radius: 5px;

        color: white;
        background: rgba(0, 0, 0, 0.2);

        display: inline-block;
        text-align: center;

        &:hover {
          background-color: darken(#ffcc00, 30);
        }

        &.active {
          color: #ffcc00;
        }
      }
    }
  }
}

#footer {
  width: 100%;
  margin: 0;
  padding: 0;

  border-top: solid 1px #434343;
  background: url(../images/nav-bg.gif) #353535;

  p {
    max-width: $page-width;
    margin: 0 auto;
    text-align: right;
    padding: 1rem 0;
  }
}

#banner {
  margin: 20px 0;
  width: 100%;
  height: 250px;
  background: url("../images/sequencer.jpg");
  background-size: cover;
  background-position: center;
}

section {
  max-width: $page-width;
  padding: 10px 0px;
  margin: 20px 0;
}

.manual {
  h1 {
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-shadow: 2px 0px 5px black;
  }

  h2, h3 {
    margin-top: 3rem;
  }

  p {
    text-align: justify;
  }

  pre > code {
    padding: 0;
  }

  :not(pre) > code {
    padding: 1px 0.25rem;
    background-color: #eee;
    color: #000;
  }

  ul {
    list-style-type: disc;
    list-style-image: none;
  }

  li {
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
  }
}


@media print, screen and (max-width: 720px) {

  .wrapper {
    padding: 0 10px;
  }

  #header {
    nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        padding: 0;
        text-align: center;
        line-height: 20px;

        &.title {
          width: 100%;
          padding: 0;
          line-height: 40px;
        }

        a {
          padding: 5px 10px;
          margin: 5px;
          border-radius: 5px;
        }
      }
    }
  }

  #banner {  
    margin: 10px 0;
    height: 150px;
  }
}

@media print, screen and (max-width: 480px) {

/*  #header {
    margin-top: -20px;
  }
*/
  section {
    /*margin-top: 40px;*/
  }
/*  nav {
    display: none;
  }
*/}
