@import "normalize";
@import "fonts";
@import "rouge-base16-dark.scss";

$page-width: 1000px;

body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font:14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#f0e7d5;
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
  background: linear_gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
  color:#e8e8e8;
  margin:0 0 10px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;

}

h1 {
  font-size:28px;
}

h2 {
  font-size: 24px;
}

h4, h5, h6 {
  color:#e8e8e8;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #b6b6b6;
}

a {
  color:#ffcc00;
  font-weight:400;
  text-decoration:none;

  &:hover {
    color: #ffeb9b;
  }
}

a small {
  font-size:11px;
  color:#666;
  margin-top:-0.6em;
  display:block;
}

ul{
  list-style-image:url('../images/bullet.png');
}

strong {
  font-family: 'OpenSansBold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

.wrapper {
  max-width: $page-width;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left:3px solid #ffcc00;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  color:#efefef;
  font-size:13px;
  margin: 0 4px;
  padding: 4px 6px;
  border-radius: 2px;
}

pre {
  padding:8px 15px;
  background: #191919;
  border-radius: 2px;
  border:1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  overflow: auto;
  overflow-y: hidden;

  code {
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0;
    padding: 0;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #434343;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color:#F0E7D5;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}


#header {
  /*z-index: 100;*/
  /*left:0;*/
  /*top: 0px;*/
  height: 50px;
  width: 100%;
  /*position: fixed;*/
  background: url(../images/nav-bg.gif) #353535;
  /*border-bottom: 4px solid #434343;*/
  /*box-shadow: 0px 1px 3px rgba(0,0,0,.25);*/

  nav {
    max-width: $page-width;
    margin: 0 auto;
    padding: 0 10px;
    /*background: blue;*/
    /*margin: 6px auto;*/

    li {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      list-style: none;
      display: inline;
      color: white;
      line-height: 50px;
      text-shadow: 0px 1px 0px rgba(0,0,0,.2);
      font-size: 14px;

      &.title {
        font-weight: bold;
        font-size: 16px;
        padding-right: 2rem;
      }

      a {
        color: white;
        background: rgba(0, 0, 0, 0.2);
        padding: 0 15px;
        margin: 0 5px;
        display: inline-block;
        text-align: center;

        &:hover {
          background-color: darken(#ffcc00, 30);
        }

        &.active {
          /*font-weight: bold;*/
          color: #ffcc00;
        }
      }

/*      &.fork {
        float: left;
        margin-left: 0px;
      }

      &.downloads {
        float: right;
        margin-left: 6px;
      }
*/
/*      &.title {
        float: right;
        margin-right: 10px;
        font-size: 11px;
      }
*/    }
  }
}

#footer {
  width: 100%;
  margin: 0;
  padding: 0;

  p {
    max-width: $page-width;
    border-top: solid 1px #777;
    margin: 0 auto;
    text-align: right;
    padding: 1rem 0;
  }
}


section {
  max-width: $page-width;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;

  #title {
    border: 0;
    outline: none;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;

    h1 {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      line-height: 36px;
    }

    p {
      color: #d7cfbe;
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
    }

    .credits {
      font-size: 11px;
      font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      color: #696969;
      margin-top: -10px;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }

  }
}

.manual {
    h1 {
        text-transform: uppercase;
        padding-bottom: 4rem;
    }

    p {
        text-align: justify;
    }

    pre > code {
        padding: 0;
    }

    :not(pre) > code {
        padding: 1px 0.25rem;
        /*background-color: #ffcc00;*/
        /*color: black;*/
        background-color: #eee;
        color: #000;
    }

    ul {
        list-style-type: disc;
        list-style-image: none;
    }

    li {
    }

    table {
        display: block;
        width: 100%;
        overflow: auto;
    }
}


@media print, screen and (max-width: 720px) {

  #title {
    .credits {
      display: block;
      width: 100%;
      line-height: 30px;
      text-align: center;

      .left {
        float: none;
        display: block;
      }

      .right {
        float: none;
        display: block;
      }
    }
  }
}

@media print, screen and (max-width: 480px) {

  #header {
    margin-top: -20px;
  }

  section {
    margin-top: 40px;
  }
  nav {
    display: none;
  }
}
